{% extends 'base.html.twig' %}

{% block title %} Test route Program{% endblock %}

{% block body %}
    <h1>Les saisons de la série {{ programName }} : </h1>
    {% for season in seasons %}
        <div>
            <a href="{{ path('wild_season_details',{'id':season.id}) }}">
                {{ season.description }}
            </a>
        </div>
    {% else %}
        Aucune saison trouvée pour la série {{ programName }}.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}