{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
    <h1>Fiche acteur : {{ actor.name }}</h1>
    <h3> <a href="{{ path('actor_details', {'slug': actor.slug}) }}">show</a>
        <a href="{{ path('actor_details_edit', {'slug': actor.slug}) }}">edit</a>
    </h3>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        {% for program in actor.programs %}
            <tr>
                <td>{{ program.id }}</td>
                <td><a href="{{ path('program_show', {'slug': program.slug}) }}">{{ program.title }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">aucune série trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <div class="row d-flex justify-content-between">
        <a href="{{ path('actor_index') }}">back to actor's list</a>
    </div>
{% endblock %}