<nav class="navbar navbar-expand-lg navbar-light navbarWS">
    <a class="navbar-brand text-light" href="#">Wild Series</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active text-light" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link text-light" href="{{ path('actor_index') }}">Acteurs</a>
            <a class="nav-item nav-link text-light" href="{{ path('program_index') }}">Séries</a>
            <a class="nav-item nav-link disabled text-light" href="#">Mes favoris</a>
            {% if app.user %}
                {{ app.user.email }}
                <a href="{{ path('app_logout') }}" class="nav-item nav-link text-light">Se déconnecter</a>
            {% else %}
                <a class="nav-item nav-link text-light" href="{{ path('app_login') }}">Se connecter</a>
            {% endif %}
        </div>
    </div>
</nav>